{% extends 'base.html.twig' %}

{% block title %}Produkty{% endblock %}

{% block body %}

<h1>Produkty</h1>

{% include 'product/sort_filter_form.html.twig' %}

{% include 'product/table.html.twig' %}

{% include 'product/pagination.html.twig' %}

{% endblock %}