body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.table-container {
  margin: 0 auto;
  width: 75%;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th,
td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: left;
  word-wrap: break-word;
  height: 30px;
}

th {
  background-color: #f2f2f2;
  color: black;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

th.code,
td.code {
  width: 10%;
}

th.name,
td.name {
  width: 20%;
}

th.description,
td.description {
  width: 30%;
}

th.price,
td.price {
  width: 10%;
}

th.brand,
td.brand {
  width: 15%;
}

th.material,
td.material {
  width: 15%;
}

th.edit,
td.edit {
  width: 5%;
}

tr:hover {
  background-color: #ddd;
}

.pagination-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
}

.prev,
.next {
  color: black;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.pages {
  padding: 10px;
  margin: 10px;
}

.form-container {
  margin: 0 auto;
  width: 75%;
}

.form-container input,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.notice {
  margin: 0 auto;
  width: 75%;
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.sort-ipnut,
.filter-input {
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
}

.sort-filter-form {
  margin: 0 auto;
  display: flex;
  width: 75%;
}
